<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="linqptcConnectionString" connectionString="Data Source=RT-LT-280\SQL2K8;Initial Catalog=linqptc;Persist Security Info=True;User ID=sa;Password=Rolustech99"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
